GOCRYPTFS_SECRETS_DIR=/etc/hidden
GOCRYPTFS_CIPHERDIR=/var/lib/hidden/encrypted
GOCRYPTFS_MOUNTPOINT=/var/lib/hidden/decrypted
GOCRYPTFS_PASSPHRASE_FILENAME=gocryptfs.key
GOCRYPTFS_PASSPHRASE_LENGTH=80
GOCRYPTFS_WATCHDOG_INTERVAL_SECONDS=5

RESTIC_ENABLE=true
RESTIC_SECRETS_DIR=/etc/hidden
RESTIC_KEY_FILENAME=restic.key
RESTIC_REPOSITORY=/mnt/backup/hidden
RESTIC_CRON_SCHEDULE="0 3 * * *"
RESTIC_FORGET_ARGS="--keep-daily 7 --keep-weekly 4 --keep-monthly 6"

SQLITE_DIR=/var/lib/hidden/decrypted
SQLITE_FILENAME=hidden.db
SQLITE_JOURNAL_MODE=WAL
SQLITE_SYNCHRONOUS=NORMAL
SQLITE_BUSY_TIMEOUT=10000
SQLITE_TEMP_STORE=MEMORY

UVICORN_HOST=0.0.0.0
UVICORN_PORT=80
