GOCRYPTFS_SECRETS_DIR=/etc/hidden
GOCRYPTFS_CIPHERDIR=/var/lib/hidden/encrypted
GOCRYPTFS_MOUNTPOINT=/var/lib/hidden/decrypted
GOCRYPTFS_PASSPHRASE_FILENAME=gocryptfs.key
GOCRYPTFS_PASSPHRASE_LENGTH=80
GOCRYPTFS_WATCHDOG_INTERVAL_SECONDS=5

UVICORN_HOST=0.0.0.0
UVICORN_PORT=80
UVICORN_WORKERS=1
